.slide {
  height: 200px;
  background: #f3f3f3;
  padding: 25px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course {
  display: flex;
  gap: 18px;
  align-items: center;
}
